In [3]:
import pandas as pd
import pymongo 
from pymongo import MongoClient

In [3]:
"""your link
"""

your link'

In [5]:
client = MongoClient(url)

print('Databases avalble:')

db_list = client.list_database_names() 

print(db_list)

Databases avalble:
['FinalProjectSP24', 'admin', 'local']

In [6]:
db = client['FinalProjectSP24']

In [7]:

print('Collections avalble:')

collection_list = db.list_collection_names()

print(collection_list)

Collections avalble:
['VISA_DATA']

In [8]:
collection = db['VISA_DATA']

In [9]:
data = collection.find()

In [10]:
data_list = list(data)

In [11]:
df = pd.DataFrame(data_list)

In [12]:
df.head()

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,663386b45b3d712386ab53f6,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,663386b45b3d712386ab53f7,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,663386b45b3d712386ab53f8,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,663386b45b3d712386ab53f9,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,663386b45b3d712386ab53fa,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [13]:
df.shape

(25480, 13)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25480 entries, 0 to 25479
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    25480 non-null  object
 1   case_id                25480 non-null  object
 2   continent              25480 non-null  object
 3   education_of_employee  25480 non-null  object
 4   has_job_experience     25480 non-null  object
 5   requires_job_training  25480 non-null  object
 6   no_of_employees        25480 non-null  int64
 7   yr_of_estab            25480 non-null  int64
 8   region_of_employment   25480 non-null  object
 9   prevailing_wage        25480 non-null  float64
 10  unit_of_wage           25480 non-null  object
 11  full_time_position     25480 non-null  object
 12  case_status            25480 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 2.5+ MB

In [15]:
file_name = 'visadata' 
df.to_csv(file_name, index = False)